footer {
    background-color: rgb(42, 41, 45);
    max-width: 1690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 17px;
}

.container {
    margin-left: 258px;
    margin-top: 6px;
}

.container img {
    margin-left: -360px;
    width: 40%;
    margin-bottom: -88px;
}

.footer-logo {
    margin-top: 30px;
    width: 20%;
    margin-left: 1212px;
    margin-top: -129px;
}

.footer_logo img {
    width: 20%;
    position: absolute;
    margin-left: -250px;
    margin-top: 16px;
}

.footer_list {
    display: grid;
    gap: 24px;
    list-style: none;
    font-size: 18px;
}

.footer_list a {
    color: white;
}

.footer_list li {
    color: white;
    width: 369px;
    margin-top: -11px;
    margin-left: -7px;
}

.footer_address {
    display: grid;
    margin-left: -149px;
}

.footer_nav {
    margin-left: -10px;
}

.footer_title {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: -10px;
    margin-left: 35px;
    white-space: nowrap;
}

.footer_arrow {
    font-weight: normal;
    display: flex;
    margin-right: 211px;
}

.copyright {
    color: rgb(153, 153, 153);
    margin-top: 128px;
    font-size: 13px;
    margin-left: 160px;
    white-space: nowrap;
}

.copyright p {
    position: absolute;
    margin-top: 27px;
    margin-left: -102px;
}

.copyright2 {
    color: rgb(153, 153, 153);
    font-size: 13px;
    white-space: nowrap;
    float: right;
}

.copyright2 p {
    position: absolute;
    margin-top: 87px;
    margin-left: -246px;
}

.footer_triangle {
    width: 20%;
    margin-left: -45px;
    margin-top: 82px;
}