.about {
    margin: 0 auto;
    max-width: 1465px;
    padding-left: 126px;
    padding-right: 255px;
    margin-top: 117px;
}

.about__all {
    display: flex;
    justify-content: space-between;
}

.about__text {
    display: inline-block;
}

.about__title {
    font-size: 50px;
    font-weight: 700;
    white-space: nowrap;
}

.about__desc {
    width: 644px;
    margin-left: 88px;
    margin-right: -309px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 41px;
}

.about__desc2 {
    width: 399px;
    margin-left: 88px;
    margin-right: -37px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 41px;
}

.line2 {
    background-image: url(../img/block_about/line-dot.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.about__line {
    position: absolute;
    width: 2%;
    height: 269px;
    margin-left: 32.5px;
    margin-top: -222px;
}

.about__image img {
    width: 65%;
    /* float: right; */
    margin-left: 304px;
    /* margin-right: 323px; */
    height: 100%;
}

.bold {
    font-weight: 700;
}

.highlight {
    color: rgb(184, 0, 6);
    font-weight: 600;
}

@media(max-width:376px) {
    .about__title {
        font-size: 25px;
        margin-left: -29px;
    }
    .about {
        padding-left: 79px;
        margin-top: 94px;
    }
    .about__desc {
        line-height: 22px;
        font-size: 13px;
        margin-left: 7px;
        width: 269px;
        margin-top: 10px;
    }
    .about__desc2 {
        width: 257px;
        margin-left: 8px;
        line-height: 17px;
        margin-top: 17px;
        font-size: 11px;
    }
    .about__line {
        width: 23px;
        margin-left: -30.5px;
        margin-top: -218px;
        height: 223px;
    }
    .about__image img {
        width: 254px;
        margin-left: -227px;
        margin-top: 227px;
        height: 154px;
    }
}