.header {
    max-width: 1690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 500px;
    padding-right: 188px;
    /* padding: 15px 139px 0 172px; */
    white-space: nowrap;
}

.header__logo {
    display: block;
    background-image: url(/img/block_nav/logo.svg);
    background-repeat: no-repeat;
    width: 264px;
    height: 78px;
    transform: scale(0.5);
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 121px;
    font-weight: 600;
    /* margin-left: 18px; */
    font-size: 20px;
}

.header__link {
    color: rgb(57, 53, 53);
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 17px;
    height: 8px;
    background-image: url(../img/block_nav/arrow1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav__arrow {
    position: absolute;
    margin-top: 6.25px;
}

.tel {
    font-weight: 400;
    margin-left: 40px;
}

.vacance {
    margin-left: -21px;
}

.contacts {
    margin-left: -19px;
}