.header {
    max-width: 1690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-left: 544px;
    padding-right: 140px;
    white-space: nowrap;
}

.header__logo {
    display: block;
    background-repeat: no-repeat;
    transform: scale(0.5);
}

[type=checkbox] {
    opacity: 0;
}

.header__logo img {
    margin-left: -695px;
    width: 409px;
    margin-top: -35px;
}

.header__item {
    margin-right: 25px;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 96px;
    font-weight: 600;
    font-size: 20px;
}

.header__link {
    color: rgb(57, 53, 53);
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 17px;
    height: 8px;
    background-image: url(../img/block_nav/arrow1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav__arrow {
    position: absolute;
    margin-top: 6.25px;
}

.tel {
    font-weight: 400;
    margin-left: 40px;
}

.vacance {
    margin-left: -21px;
}

.contacts {
    margin-left: -19px;
}


/* @media(max-width:770px) {
    .header__logo {
        margin-left: 824px;
    }
    .header__logo img {
        margin-left: -298px;
        width: 409px;
        margin-top: -4px;
    }
    .header__list {
        margin-left: 21px;
    }
    .preview__line {
        margin-left: 742px;
    }
    .preview__arrow {
        margin-left: 717px;
    }
    .main__title {
        margin-left: 171px;
    }
    .main__desc {
        margin-left: 177px;
    }
    .faw__img {
        width: 479px;
        margin-left: -328px;
        margin-top: -18px;
    }
} */

@media(max-width:1200px) {
    .header {
        padding-left: 746px;
        padding-right: 140px;
        max-width: 1200px;
    }
    .preview {
        max-width: 1200px;
        padding-left: 335px;
        padding-right: 78.59px;
    }
    .preview__line {
        margin-left: 752px;
    }
    .main__title {
        margin-left: 173px;
    }
    .main__desc {
        margin-left: 177px;
    }
    .preview__arrow {
        margin-left: 751px;
    }
    .faw__img {
        margin-left: -398px;
    }
    .header__list {
        gap: 76px;
    }
}

@media(max-width:1024px) {
    .header {
        max-width: 1024px;
        padding-top: 43px;
        padding-left: 805px;
    }
    .preview {
        max-width: 1024px;
        padding-left: 303px;
        padding-right: 121.59px;
    }
    .preview__line {
        margin-left: 709px;
    }
    .main__title {
        margin-left: 233px;
        width: 652px;
    }
    .header__list {
        gap: 71px;
    }
    .main__desc {
        margin-top: 54px;
        margin-left: 236px;
    }
    .preview__arrow {
        margin-left: 759px;
    }
    .faw__img {
        margin-left: -324px;
    }
    .header__logo img {
        margin-left: -545px;
        width: 409px;
        margin-top: -42px;
    }
}

@media(max-width:768px) {
    .header {
        max-width: 768px;
        padding-top: 43px;
        padding-left: 805px;
    }
    .preview {
        max-width: 768px;
        padding-left: 270px;
        padding-right: 78.59px;
    }
    .preview__line {
        margin-left: 709px;
    }
    .main__title {
        margin-left: 233px;
        width: 652px;
    }
    .header__list {
        gap: 71px;
    }
    .main__desc {
        margin-top: 54px;
        margin-left: 236px;
    }
    .preview__arrow {
        margin-left: 759px;
    }
    .faw__img {
        margin-left: -324px;
    }
    .header__logo img {
        margin-left: -545px;
        width: 409px;
        margin-top: -42px;
    }
}


/*@media(max-width:425px) {
    .header {
        max-width: 425px;
        padding-top: 41px;
        padding-left: 841px;
    }
    .preview__line {
        margin-left: 789px;
    }
    .main__title {
        margin-left: 218px;
    }
    .main__desc {
        margin-top: 42px;
        margin-left: 220px;
    }
    .preview__arrow {
        margin-left: 801px;
    }
    .faw__img {
        margin-left: -319px;
    }
    #menu__toggle {
        opacity: 0;
    }
     кнопка 
    .header__nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 43px;
        left: 331px;
        width: 23px;
        height: 13px;
        cursor: pointer;
        z-index: 1;
    }*/


/*бургер
    .header__nav>span,
    .header__nav>span::before,
    .header__nav>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .header__nav>span::before {
        content: '';
        top: -8px;
    }
    .header__nav>span::after {
        content: '';
        top: 8px;
    }
    .header__list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }*/


/* меню 
    .header__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .header__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked~.header__nav>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.header__nav>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.header__nav>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.header__item {
        visibility: visible;
        left: 0;
    }
}*/

@media(max-width:376px) {
    .header {
        max-width: 375px;
        padding-left: 0;
        padding-right: 0;
        padding: 0;
    }
    .preview {
        max-width: 376px;
    }
    .header__list {
        display: none;
    }
    #menu__toggle {
        opacity: 0;
    }
    /* кнопка */
    .header__nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 43px;
        left: 331px;
        width: 23px;
        height: 13px;
        cursor: pointer;
        z-index: 1;
    }
    /*бургер*/
    .header__nav>span,
    .header__nav>span::before,
    .header__nav>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .header__nav>span::before {
        content: '';
        top: -8px;
    }
    .header__nav>span::after {
        content: '';
        top: 8px;
    }
    .header__list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* меню */
    .header__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .header__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked~.header__nav>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.header__nav>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.header__nav>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.header__item {
        visibility: visible;
        left: 0;
    }
    .preview__line {
        margin-left: 228px;
        margin-top: -263px;
        width: 248px;
    }
    .main__title {
        font-size: 18px;
        width: 708px;
        line-height: 23px;
        width: 153px;
        margin-top: 43px;
        margin-left: 173px;
    }
    .main__desc {
        margin-left: 173px;
        font-size: 10px;
        width: 169px;
        line-height: 18px;
        margin-top: 23px;
    }
    .preview__arrow {
        margin-left: 803px;
    }
    .faw__img {
        width: 169px;
        margin-left: -11px;
        margin-top: 25px;
    }
    .header__logo img {
        width: 250px;
        margin-top: 6px;
        margin-left: -162px;
    }
    .arrow2 {
        display: none;
    }
    .arrow3 {
        background-image: url(../img/block_preview/arrow\ adaptive\ 376px.png);
        width: 100%;
    }
}