/* Для размеров экрана от 376px до 770px (для мобильных устройств) */
@media (max-width: 770px) {
    .header {
        padding-left: 50px;
        padding-right: 30px;
    }
    .header__logo img {
        width: 150px;
        margin-left: -75px;
    }
    .header__list {
        gap: 40px;
    }
    .main__title {
        font-size: 24px;
        line-height: 30px;
        width: 450px;
    }
    .main__desc {
        font-size: 14px;
        line-height: 20px;
        width: 200px;
    }
    .preview__arrow {
        margin-left: 250px;
    }
    .preview__line {
        margin-left: 350px;
    }
}

/* Для iPhone 12 в портретной ориентации (1170x2532) */
@media (max-width: 428px) and (max-height: 926px) {
    .header {
        padding-left: 40px;
        padding-right: 20px;
    }
    .header__logo img {
        width: 120px;
        margin-left: -60px;
    }
    .header__list {
        gap: 30px;
    }
    .main__title {
        font-size: 22px;
        line-height: 28px;
        width: 350px;
    }
    .main__desc {
        font-size: 12px;
        line-height: 18px;
        width: 180px;
    }
    .preview__arrow {
        margin-left: 200px;
    }
    .preview__line {
        margin-left: 300px;
    }
}
