@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vast+Shadow&display=swap');
.principle {
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 105px;
    padding-right: 992.65px;
    padding-top: 100px;
}

.principle__title {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 644px;
    align-items: center;
}

.principle__title h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 125px;
    margin-left: -74px;
    letter-spacing: -1.5px;
}

.principle__title img {
    position: absolute;
    width: 86%;
    margin-left: 1202px;
    margin-top: 201px;
}

.principle_line {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 123px;
    margin-left: -952px;
}

.line3 {
    display: inline-block;
    width: 220px;
    border-bottom: 1px solid black;
}

.highlight2 {
    color: rgb(184, 0, 6);
}

.principle_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.principle_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num {
    font-family: "vast shadow", serif;
    font-size: 75px;
    margin-top: -4px;
    margin-left: -19px;
}

.word {
    font-weight: 700;
    line-height: 51.3px;
    letter-spacing: -0.64px;
    color: rgb(38, 37, 42);
    white-space: nowrap;
    font-size: 35px;
    margin-left: -16px;
    margin-top: -4px;
}

.principle_text {
    margin-top: -30px;
    padding: 51px;
    margin-left: -51px;
}

.principle_text p {
    width: 378px;
    opacity: 0.7;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -1px;
    margin-top: 61px;
    margin-left: -16px;
}

.principle_img img {
    width: 505px;
    height: 425px;
    margin-left: -5px;
    margin-top: -32px;
}

.highlight3 {
    color: rgb(209, 2, 9);
}

.highlight4 {
    font-weight: 700;
}